*{
    /* border: solid; */
}

body{
display: flex;
flex-direction: column;
}

.box1{
    background-color: #1F2937;
    color: white;
}

.box2{

}

.box3{
    background-color: #E5E7EB;
}

.box4{
    background-color: #1F2937;
}

.box5{
    background-color: #1F2937;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }
  
  button.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }